<?xml version="1.0"?>
<!--/**
* Sezzlepay config
*
* @category   Sezzle
* @package    Sezzle_Sezzlepay
* @author     Sezzle Team
*/-->
<config>
    <modules>
        <Sezzle_Sezzlepay>
            <version>3.1.0</version>
        </Sezzle_Sezzlepay>
    </modules>
    <global>
        <blocks>
            <sezzle_sezzlepay>
                <class>Sezzle_Sezzlepay_Block</class>
            </sezzle_sezzlepay>
        </blocks>
        <models>
            <sezzle_sezzlepay>
                <class>Sezzle_Sezzlepay_Model</class>
            </sezzle_sezzlepay>
        </models>
        <helpers>
            <sezzle_sezzlepay>
                <class>Sezzle_Sezzlepay_Helper</class>
            </sezzle_sezzlepay>
        </helpers>
        <fieldsets>
            <sales_convert_quote_payment>
                <sezzle_reference_id>
                    <to_order_payment>*</to_order_payment>
                </sezzle_reference_id>
            </sales_convert_quote_payment>
        </fieldsets>
        <resources>
            <sezzlepay_setup>
                <setup>
                    <module>Sezzle_Sezzlepay</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </sezzlepay_setup>
        </resources>
    </global>
    <default>
        <payment>
            <sezzlepay>
                <title>Sezzle Pay PayLater 0% Interest</title>
                <active>1</active>
                <model>sezzle_sezzlepay/order</model>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
            </sezzlepay>
        </payment>
    </default>    
    <frontend>
        <layout>
            <updates>
                <sezzlepay>
                    <file>sezzlepay.xml</file>
                </sezzlepay>
            </updates>
        </layout>
        <routers>
            <sezzlepay>
                <use>standard</use>
                <args>
                    <module>Sezzle_Sezzlepay</module>
                    <frontName>sezzlepay</frontName>
                </args>
            </sezzlepay>
        </routers>        
    </frontend>    
    <crontab>
        <jobs>
            <sezzle_sezzlepay_daily_send>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>sezzle_sezzlepay/observer::sendDailyData</model></run>
            </sezzle_sezzlepay_daily_send>
        </jobs>
    </crontab>
</config> 