<?xml version="1.0"?>
<!--/**
* Sezzlepay system
*
* @category   Sezzle
* @package    Sezzle_Sezzlepay
* @author     Sezzle Team
*/-->
<config>
   <sections>
        <payment>
            <groups>
                <sezzlepay translate="label" module="paygate">
                    <label>Sezzle Checkout</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>57</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </private_key>
                        <public_key translate="label">
                            <label>Public Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>57</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </public_key>
                        <api_mode translate="label">
                            <label>Api Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>sezzle_sezzlepay/system_config_source_apimode</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_mode>
                        <base_url translate="label">
                            <label>Sezzle API Base URL (Optional)</label>
                            <comment>WARNING: This overrides the Api Mode. Use it only when you know what you are doing. Else leave it empty.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </base_url>
                        <allowspecific>
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry>
                            <label>Payment from Specific
                            Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>45</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <allowspecific>1</allowspecific>
                            </depends>
                        </specificcountry>
                    </fields>
                </sezzlepay>
            </groups>
        </payment>
        <sezzle_sezzlepay translate="label" module="sezzle_sezzlepay">
            <label>Sezzle Pay</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <product_widget translate="label">
                    <label>Product Page Widget Display Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <xpath translate="label">
                            <label>Price block selector</label>
                            <comment>
                                Path of the price element to watch for
                                For multiple, separate by |
                                Eg: .product-price/.price|.extra-info/.price-min
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </xpath>
                        <renderXPath translate="label">
                            <label>Product page: render to element path</label>
                            <comment>
                                Path of the element to which to render widget.
                                For multiple, separate by |
                                This path is relative to the corresponding price element.
                                So, the first path in this will be relative to the first path in Price block selector.
                                Second to the second and so on.
                                Eg: If .product-price/.price is the path to the price element and you want to
                                put the widget in the 2nd parent of that element, you should use ../..
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </renderXPath>
                        <forced_show translate="label">
                            <label>Show in all countries</label>
                            <comment>
                                If false, the widget is shown only in countries where Sezzle Pay is supported
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </forced_show>
                        <alignment translate="label">
                            <label>Alignment</label>
                            <comment>Alignment of the widget in the div</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>sezzle_sezzlepay/system_config_source_widgetalignment</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </alignment>
                        <merchant_id translate="label">
                            <label>Merchant ID</label>
                            <comment>Look for your ID in your Sezzle Dashboard</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchant_id>
                        <theme translate="label">
                            <label>Theme</label>
                            <comment>Select the theme depending on your site's background</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>sezzle_sezzlepay/system_config_source_widgettheme</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </theme>
                        <width-type translate="label">
                            <label>Width Type</label>
                            <comment>Text width of the widget</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>sezzle_sezzlepay/system_config_source_widgetwidth</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width-type>
                        <image-url translate="label">
                            <label>Image URL</label>
                            <comment>(Optional) Override with URL to a different Logo you want else leave empty</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image-url>
                        <hide-classes translate="label">
                            <label>Hide classes</label>
                            <comment>
                                Classes to be hidden when sezzle widget is visible.
                                There are other products like Sezzle Pay which do not work in countries where sezzle works.
                                You can hide them by adding their classes here.
                                To hide multiple elements enter their classes like the following.
                                Eg: class-to-hide|class-to-hide-2
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hide-classes>
                        <minPrice translate="label">
                            <label>Minimum Price</label>
                            <comment>
                                Minimum product price (use amount in cents) to show widget on.
                                Eg: 15000 for $150
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minPrice>
                        <maxPrice translate="label">
                            <label>Maximum Price</label>
                            <comment>
                                Maximum product price to display widget on.
                                Eg: 15000 for $150 
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maxPrice>                                           
                    </fields>
                </product_widget>
            </groups>
        </sezzle_sezzlepay>
    </sections>
</config>