<?xml version="1.0"?>
<config>
    <modules>
        <Sezzle_Pay>
            <version>1.0.0</version>
        </Sezzle_Pay>
    </modules>
    <global>
        <blocks>
            <sezzle_pay>
                <class>Sezzle_Pay_Block</class>
            </sezzle_pay>
        </blocks>
        <models>
            <sezzle_pay>
                <class>Sezzle_Pay_Model</class>
            </sezzle_pay>
        </models>
        <helpers>
            <sezzle_pay>
                <class>Sezzle_Pay_Helper</class>
            </sezzle_pay>
        </helpers>
        <resources>
            <pay_setup>
                <setup>
                    <module>Sezzle_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pay_setup>
            <pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pay_write>
            <pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pay_read>
        </resources>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <Sezzle_Pay_Order_ReferenceID_Save_observer>
                        <type>singleton</type>
                        <class>Sezzle_Pay/observer</class>
                        <method>SaveSezzleOrderReferenceID</method>
                    </Sezzle_Pay_Order_ReferenceID_Save_observer>
                </observers>
            </checkout_type_onepage_save_order>
        </events>        
    </global>
    <default>
        <payment>
            <pay>
                <title>Sezzle Pay PayLater 0% Interest</title>
                <active>1</active>
                <model>sezzle_pay/PaymentMethod</model>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
            </pay>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <pay>
                    <file>sezzle_pay.xml</file>
                </pay>
            </updates>
        </layout>
        <routers>
            <pay>
                <use>standard</use>
                <args>
                    <module>Sezzle_Pay</module>
                    <frontName>pay</frontName>
                </args>
            </pay>
        </routers>
    </frontend>
</config> 